body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.barrinha {
    background-color: #962e40;
    height: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 30px 70px 30px 30px;
    background-color: black;
}

.links-header {       
    position: relative;
}

.links-header ul{
    list-style: none; 
}

.links-header a{
    color: #D31C1C;
    text-decoration: none;
    font-size: 15pt;
    padding-right: 100px;
}

.links-header a:last-child {
    font-weight: bold;
}

.banner {
    background-color: #F3F2A9;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding-left: 90px;
    height: 500px;
    background: url(../images/aindanaosei.jpg);
    width: 90vw;
    height: 50vw;
}

.titulo-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    flex-wrap: wrap;
}

.titulo-banner h1 {
    color: black;
    font-weight: bold;
    font-size: 30pt;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.titulo-banner p {
    color: black;
    font-size: 15pt;
    text-align: center;
    width: 300px;
}

.titulo-banner button {   
    border-radius: 10px;
    height: 30px;
    width: 200px;
    border: 2px solid black;
    background-color: black;
    cursor: pointer;
}

.titulo-banner button a {
    color: white;
    font-size: 15pt;
    text-decoration: none;    
    font-weight: bold;
}

.sobre {
    display: flex;
    margin-top: 50px;
}

.texto-sobre {
    display: flex;
    padding: 20px;
    align-items: center;
    flex-direction: column;
}

.imagem-sobre img {
    margin-left: 20px;
}

.texto-sobre h2 {
    color: #962e40;
    font-weight: bold;
    font-size: 20pt;
}

.texto-sobre p {
    font-size: 14pt;
    text-align: center;
}

main {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    background-color: #d98282;
    padding-left: 30px;
    padding-right: 30px;
    padding: 20px;
}

main h3 {
    font-size: 18pt;
    font-weight: bold;
    color: #962e40;
    text-align: center;
}

.cursos p {
    font-size: 15pt;
    color: white;
    margin-right: 15px;
    text-align: center;
}

.oficinas p {
    font-size: 15pt;
    color: white;
    margin-right: 15px;
    text-align: center;
}

.coach p {
    font-size: 15pt;
    color: white;
    text-align: center;
}

.equipe {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.equipe-baixo {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.equipe img {
    margin-top: 80px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.equipe-baixo img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.equipe h4{
    color: #962e40;
    font-size: 15pt;
    text-align: center;
    font-weight: bold;
}

.equipe-baixo h4{
    color: #962e40;
    font-size: 15pt;
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #962e40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.logo-footer p{
    font-size: 20pt;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}

.contatos a{
    padding: 20px;
}

.contatos img {
    width: 30px;
    height: 30px;
}

